services:
  # Container: 'app-service'
  app-service:
    # Dockerhub image name
    image: gsadeghi15/app-service #
    # Automatically restart container when server crashes
    restart: "always"
    # Set environment variables
    environment:
      # Use service name for Docker networking
      AUTH_SERVICE_IP: ${AUTH_SERVICE_IP:-auth-service}
    # Assign port 8000 to 'app-service' ccontainer
    ports:
      - "8000:8000"
    # Only run container if auth-service has started
    depends_on: #
      auth-service:
        condition: service_started

  # Container: 'auth-service'
  auth-service:
    # Dockerhub image name
    image: gsadeghi15/auth-service
    # Automatically restart container when server crashes
    restart: "always"
    # Set environment variables
    environment:
      # Main security mechanism - must be set
      JWT_SECRET: ${JWT_SECRET:-}
      # Default for local dev
      LOCALHOST_URL: ${LOCALHOST_URL:-http://localhost:3000}
      # DigitalOcean Droplet URL
      DROPLET_URL: ${DROPLET_URL:-http://***************:3000}
      # Droplet IP
      DROPLET_IP: ${DROPLET_IP:-***************}
      # Postgres URL
      DATABASE_URL: "postgres://postgres:${POSTGRES_PASSWORD}@db:5432/postgres"
    # Assign port 3000 to 'auth-service' container
    ports:
      - "3000:3000"
    # Only run container if 'db' container is healthy
    depends_on:
      db:
        condition: service_healthy
  # Container: 'db'
  db:
    # Dockerhub image name
    image: postgres:15.2-alpine
    # Automatically restart container when server crashes
    restart: always
    # Set environment variables
    environment:
      #
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  db:
    driver: local
