services:
  app-service:
    image: gsadeghi15/app-service # specify name of image on Docker Hub
    restart: "always" # automatically restart container when server crashes
    environment: # set up environment variables
      AUTH_SERVICE_IP: ${AUTH_SERVICE_IP:-auth-service}  # Use service name for Docker networking:
    ports:  
      - "8000:8000" # expose port 8000 so that applications outside the container can connect to it   
    depends_on: # only run app-service after auth-service has started
      auth-service:
        condition: service_started
  auth-service:
    image: gsadeghi15/auth-service
    restart: "always" # automatically restart container when server crashes
    environment:
      JWT_SECRET: ${JWT_SECRET:-}  # No default for security - must be set
      LOCALHOST_URL: ${LOCALHOST_URL:-http://localhost:3000}  # Default for local dev
      DROPLET_URL: ${DROPLET_URL:-http://***************:3000}  # Your droplet IP
      DROPLET_IP: ${DROPLET_IP:-***************}  # Your droplet IP
      # New!
      DATABASE_URL: "postgres://postgres:${POSTGRES_PASSWORD}@db:5432"
    ports:
      - "3000:3000"
    # New!
    depends_on:
      - db
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local 
